* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(242, 252, 248);
}

.display_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 90%;
    height: 100px;
    padding: 0px 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    transition: 0.3s ease-in;
    background-color: white;
}

header:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px;
}

.logo {
    gap: 20px;
    color: blue;
}

.logo img {
    transition: 0.5s ease-in-out;
    border-radius: 50%;
    cursor: pointer;

}

.logo img:hover {
    transform: rotate(360deg);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    .logo {
        font-size: 40px;
    }
}

.head_elements {
    gap: 50px;
}

.head_elements a {
    color: rgb(0, 0, 38);
    transition: 0.3s;
}

.head_elements a:hover {
    font-size: 20px;
}

.getsarted_head {
    width: 70px;
    height: 40px;
    background: none;
    border: none;
    font-size: 15px;
    color: blue;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
}

.getsarted_head:hover {
    width: 100px;
    background-color: blue;
    color: #fff;
}

.getsarted_head:nth-child(2) {
    width: 100px;
    background-color: blue;
    color: #fff;
}

.getsarted_head:nth-child(2):hover {
    background: none;
    border: 1px solid blue;
    color: blue;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home {
    margin-top: 50px;
    width: 90%;
    height: 500px;
    padding: 50px 20px;

}

.home_left_container {
    width: 50%;
    height: 100%;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.home_left_container_first_text {
    display: flex;
    align-items: center;
    font-size: 60px;
    color: darkblue;
}

.home_left_container_second_text {
    font-size: 15px;
    color: gray;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.home_left_container_second_text img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bx-wink-smile {
    font-size: 30px;
    color: yellow;
}

.home_left_container_third_text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.home_left_container_third_text button {
    width: 200px;
    height: 50px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s ease-in;
}

.home_left_container_third_text button:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.bx-play-circle {
    font-size: 45px;
    color: red;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.bx-play-circle:hover {
    transform: rotate(180deg);
}

.home_left_container_third_text p {
    font-size: 20px;
    color: gray;
    transition: 0.3s ease;
    cursor: pointer;
}

.home_left_container_third_text p:hover {
    color: black;
}

.home_right_container {
    width: 50%;
    height: 100%;
    position: relative;
}

.back_white_img_11 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.back_img {
    width: 400px;
    height: 400px;
    background-color: orange;
    border-radius: 50%;
    z-index: 0;
}

.img {
    margin-top: -50px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    object-fit: contain;
}

.servise,
.prin {
    margin-top: 130px;
    width: 100%;
    height: 600px;
    flex-direction: column;
    color: blue;
}

.servise_head,
.pricing_plan_head {
    width: 100%;
    height: auto;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    text-align: center;
}

.servise_head p {
    font-size: 20px;
    font-weight: 600;
}

.servise_head h1,
.pricing_plan_head h1 {
    font-size: 40px;
    color: blue;
}

.servise_head_p,
.pricing_plan_head p {
    color: gray;
    font-weight: 500;
}

.servise_main {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 100px;
    padding: 50px 0px;
}

.servise_main_cards {
    width: 300px;
    height: 300px;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    transition: 0.3s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.servise_main_cards:hover {
    cursor: pointer;
    margin-top: -50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bx-volume-full,
.bx-envelope,
.bx-clipboard {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(244, 72, 101);
    color: white;
    padding: 10px;
    font-size: 30px;
}

.bx-envelope {
    background-color: blue;
}

.bx-clipboard {
    background-color: orange;
}

.servise_main_cards h1 {
    font-size: 35px
}

.servise_main_cards p {
    color: gray;
}

.about_us,
.our_solustion {
    margin-top: 150px;
    width: 100%;
    height: 500px;
}

.about_us_container_left,
.our_solustion_contanier_left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_us_container_left img,
.our_solustion_contanier_left img {
    width: 70%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover
}

.about_us_container_right,
.our_solustion_container_right {
    width: 50%;
    height: 100%;
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    color: blue;
}

.about_us_container_right h1,
.our_solustion_container_right h1 {
    font-size: 40px;
    color: darkblue;
}

.about_us_container_right p,
.our_solustion_container_right p {
    color: gray;
    font-size: 18px;
}

.about_us_container_right_btn,
.our_solustion_container_right_btn {
    width: 200px;
    height: 60px;
    background-color: blue;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
}

.about_us_container_right_btn:hover,
.our_solustion_container_right_btn:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.our_solustion {
    margin-top: 50px;
}

.nightF {
    width: 85%;
    height: 100%;
}

.about_level_cards {
    margin-top: 50px;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    padding: 50px;
    gap: 30px;
    justify-content: space-between;
}

.about_level_cards_protsent {
    width: 220px;
    height: 200px;
    background-color: orange;
    color: white;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.about_level_cards_protsent:hover {
    margin-top: -50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about_level_cards_protsent:nth-child(2) {
    background-color: red;
}

.about_level_cards_protsent:nth-child(3) {
    background-color: blue;
}

.about_level_cards_protsent:nth-child(4) {
    background-color: darkviolet;
}

.about_level_cards_protsent h1 {
    font-size: 40px;
}

.pricing_plan {
    margin-top: 100px;
    flex-direction: column;
}

.pricing_plan_main {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 100px;
    padding: 0px 0px 40px 0px;
}

.pricing-card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    transition: 0.3s ease;
}

.pricing-card:hover {
    margin-top: -50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.pricing-card .icon {
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.pricing-card .icon img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.pricing-card h2 {
    font-size: 2em;
    margin: 10px 0;
    color: darkblue;
}

.pricing-card p {
    color: #666;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing-card ul li {
    display: flex;
    align-items: center;
    color: #555;
    font-size: 1.2em;
    margin: 10px 0;
}

.pricing-card ul li::before {
    content: "✔";
    color: #4f8bff;
    margin-right: 10px;
}

.pricing-card .price {
    font-size: 3em;
    font-weight: bold;
    color: darkblue;
    margin: 20px 0;
}

.pricing-card .purchase-btn {
    display: inline-block;
    padding: 15px 20px;
    font-size: 1em;
    font-weight: bold;
    color: blue;
    border: none;
    border: 1px solid blue;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.pricing-card .purchase-btn:nth-child(2){
    background-color: blue;
    color: white;
}

.pricing-card .purchase-btn:hover {
    background-color: blue;
    color: white;
}

.from_our_blog {
    width: 100%;
    height: auto;
    margin-top: 100px;
    flex-direction: column;
}

.pricing_plan_head {
    width: 100%;
    height: auto;
    padding: 50px 20px;
    justify-content: space-between;
}

.from_our_blog_main {
    width: 90%;
    height: auto;
    padding: 50px 20px;
    justify-content: space-between;
    gap: 50px;
}

.from_card {
    padding: 20px;
    width: 350px;
    height: 400px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
    cursor: pointer;
}

.from_card:hover {
    margin-top: -50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.from_card img {
    width: 100%;
    height: auto;
}

.from_card-content {
    padding: 16px;
}

.from_card-title {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: #222;
}

.from_card-text {
    margin-top: 8px;
    font-size: 16px;
    color: #555;
}

.from_our_blog_btn {
    height: 200px;
}

.happy_clinet {
    width: 90%;
    flex-direction: column;
}

.happy_clinet_main {
    width: 100%;
    height: auto;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

.testimonial-card {
    width: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: 0.3s ease;
}

.testimonial-card:hover{
    cursor: pointer;
    margin-top: -50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.testimonial-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.testimonial-header h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.testimonial-header span {
    display: block;
    font-size: 14px;
    color: #777;
}

.testimonial-content {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.testimonial-icon {
    color: #1DA1F2;
    margin-left: auto;
    font-size: 20px;
}

.email_go{
    width: 90%;
    height: 400px;
    background-color: lightblue;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-evenly;
}

.email_go h1{
    font-size: 40px;
    text-align: center;
    color: darkblue;
}

.email_go_input{
    width: 550px;
    height: 70px;
    background-color: white;
    border-radius: 25px;
    justify-content: space-between;
    padding: 25px;
    gap: 25px;
}

.email_go_input button{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease;
}

.email_go_input button:hover{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
}

.on_input{
    flex: 1;
    height: 50px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
}

.bxs-envelope{
    width: 45px;
    height: 40px;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.bxs-envelope:hover{
    width: 60px;
}

.footer {
    width: 100%;
    margin-top: 100px;
    color: #333;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0px;
}
.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    padding: 20px;
}
.footer-section h3 {
    color: #1a1f71;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    transition: 0.3s ease;
}
.footer-section ul li {
    margin: 8px 0;
}
.footer-section ul li a {
    color: #333;
    text-decoration: none;
}
.footer-section ul li a:hover {
    text-decoration: underline;
}
.footer-logo {
    font-size: 18px;
    font-weight: bold;
    color: #1a1f71;
}
.footer-logo p {
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}

.social-icons {
    display: flex;
    gap: 10px;
}
.social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1a1f71;
    color: #fff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}
.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #1a1f71;
    color: #fff;
    font-size: 14px;
}
.footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.footer-bottom a:hover {
    text-decoration: underline;
}

/*sdsds*/

/* ml? */