.header{
    width: 100%;
    color: white;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
    font-size: 20px;
}

.nav a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.li-text a{
    color: rgb(142, 142, 142);
}

.header-logo{
    display: flex;
    gap: 10px;
}

.header-logo a{
    text-decoration: none;
    color: white;
}

.right{
    display: flex;
    gap: 20px;
}

.header-button{
    width: 100px;
    height: 40px;
    font-size: 12px;
    text-transform: capitalize;
}

.hr-btn1{
    border: none;
    background: transparent;
    color: white;
}

.hr-btn2{
    background-color: red;
    color: white;
    border: none;
}